html {
	height: 100%;
}

body {
	margin:         0;
	padding:        0;
	font-size:      12px;
	font-family:    "微软雅黑", "华文细黑", serif;
	height:         100%;
	cursor:         default;
	flex-wrap:      nowrap;
	display:        flex;
	flex-direction: column;
	min-width:      1000px;
}

body, html {
	cursor:              default;
	user-select:         none;
	-moz-user-select:    none;
	-webkit-user-select: none;
	-ms-user-select:     none;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

#top_section {
	flex-wrap:      nowrap;
	display:        flex;
	flex-direction: row;
	flex:           auto;
}

footer {
	min-height: 32px;
	max-height: 32px;
	display:    flex;
	box-sizing: border-box;
	flex:       auto;
	z-index:    20;
	position:   relative;
}

#main_bar {
	max-width:  50px;
	width:      50px;
	box-sizing: border-box;
	flex:       auto;
	position:   relative;
}

#avatar {
	display: block;
	margin:  5px 5px 2px 5px;
}

#avatar img {
	border:        0px solid transparent;
	border-radius: 2px;
	box-sizing:    border-box;
	width:         40px;
	height:        40px;
}

#user_name {
	display:       block;
	width:         40px;
	padding:       3px 5px;
	text-align:    center;
	text-overflow: ellipsis;
	text-overflow: ' ...';
	overflow:      hidden;
}

#sub_nav {
	max-width:  180px;
	width:      180px;
	box-sizing: border-box;
	flex:       auto;
}

#content {
	box-sizing: border-box;
	flex:       auto;
}

#side_task_list {
	max-width:  350px;
	width:      350px;
	box-sizing: border-box;
	flex:       auto;
}

.nav_item {
	height: 50px;
	width:  50px;
}

.nav_item > i {
	margin:      10px 0 0 10px;
	text-align:  center;
	width:       30px;
	line-height: 30px;
}

.nav_item_end {
	bottom:   0;
	position: absolute;
}

#sub_nav {
	z-index: 10;
}

#sub_nav_container {
	width:          100%;
	height:         100%;
	display:        flex;
	flex-direction: column;
}

#sub_nav_info, #sub_nav_error {
	margin:     auto;
	width:      180px;
	height:     60px;
	text-align: center;
}

#sub_nav_info > *, #sub_nav_error > * {
	display: block;
}

#sub_nav_info > span, #sub_nav_error > span {
	margin-top: 5px;
}

#sub_nav_list, .sub_nav_list {
	margin:     0;
	padding:    0;
	list-style: none;
}

#sub_nav_list > li, .sub_nav_list > li {
	padding: 10px 15px;
}

#sub_nav_list > li > span.project_version {
	float:         right;
	padding:       0 5px;
	margin-top:    0;
	border-radius: 1px;
}

#content_container {
	width:          100%;
	height:         100%;
	max-height:     100%;
	display:        flex;
	flex-direction: column;
	overflow-y:     scroll;
}

#content_info, #content_error {
	margin:     auto;
	width:      180px;
	height:     60px;
	text-align: center;
}

#content_info > *, #content_error > * {
	display: block;
}

#content_info > span, #content_error > span {
	margin-top: 5px;
}

#sub_nav_top {
	height:         32px;
	max-height:     32px;
	min-height:     32px;
	flex-wrap:      nowrap;
	display:        flex;
	flex-direction: row;
}

.sub_nav_top_btn {
	display: flex;
	flex:    auto;
}

.sub_nav_top_btn > i {
	width:       18px;
	height:      18px;
	line-height: 16px;
	margin:      auto;
	text-align:  center;
}

#sub_nav_selector_list {
	margin:     0;
	padding:    0;
	list-style: none;
	height:     32px;
	overflow:   hidden;
	transition: all 0.1s;
}

#sub_nav_selector_list > li {
	padding:     10px 10px;
	line-height: 12px;
	text-align:  right;
	transition:  all 0.1s;
}

#sub_nav_selector_list > li > span {
	float: left;
}

#sub_nav_selector_list:hover {
	height:     100%;
	transition: all 0.1s;
}

#container_top {
	height: 32px;
}

.container_top_btn {
	float:       left;
	padding:     0 15px;
	height:      32px;
	line-height: 28px;
	text-align:  center;
	box-sizing:  border-box;
}

#container_content {
	padding: 10px 15px;
}

.content_line {
	padding: 5px 0;
}

.content_line > * {
	display: inline-block;
}

.line_TAR {
	text-align: right;
}

.line_W30 {
	width: 30px;
}

.line_W50 {
	width: 50px;
}

.line_W80 {
	width: 80px;
}

.line_W100 {
	width: 100px;
}

.line_W120 {
	width: 120px;
}

.line_W150 {
	width: 150px;
}

.line_H {
	height:      18px;
	line-height: 18px;
}

.line_content {
	margin-left: 10px;
	margin-top:  4px;
}

.line_label {
	line-height:    18px;
	vertical-align: top;
	margin-top:     4px;
}

.line_label:after {
	content: ' : ';
}

.content_line_separator {
	width:  100%;
	height: 25px;
}

.content_section {
	height:        23px;
	line-height:   23px;
	margin-bottom: 15px;
	padding:       0 0 5px 5px;
}

.line_input_control {
	font-size:     12px;
	font-family:   "微软雅黑", "华文细黑", serif;
	padding:       5px;
	border-radius: 1px;
}

.line_input {
	margin-left: 4px;
	box-sizing:  border-box;
}

.line_I_W180 {
	width:     180px;
	max-width: 180px;
	min-width: 180px;
}

.line_I_W360 {
	width:     360px;
	max-width: 360px;
	min-width: 360px;
}

.line_I_textarea {
	min-height: 18px;
	height:     36px;
}

.jui_dialog {
	display: none;
}

.content_validate_info {
	line-height:   23px;
	padding:       5px;
	margin-bottom: 5px;
	display:       none;
}

.content_validate_info > li {
	list-style: none;
}